<%- include('partials/header/header.ejs', {title: "Home page" }) %>

    <body>
        <div class="banner">
            <img src="image/moving-banner.gif" alt="A moving banner image">
        </div>

        <!-- The navbar section starts here -->
        <%- include('partials/header/nav-index.ejs') %>



            <!-- The main section starts here -->
            <main>
                <section id="movie-content">

                    <div class="container">
                        <%- include('./partials/forms/search-form.ejs') %>

                        <!-- The first section that will be dynamically updated -->
                        <div class="box">
                            <% let foundSectionOne = false; %>
                            <% sectionArray.forEach((section) => { %>
                                <% if ("sectionone" in section) { %>
                                    <% foundSectionOne = true; %>
                                    <h1 class="left padding-top-lg">
                                        <%= section.sectionone[0].title %>
                                    </h1>
                                    <p class="left section-movie-description">
                                        <%= section.sectionone[0].description %>
                                    </p>
                                <% } %>
                            <% }) %>
                            
                            <% if (!foundSectionOne) { %>
                                <h1 class="left padding-top-md">Action movies</h1>
                                <p class="left section-movie-description">
                                    Experience adrenaline-pumping thrills with our action-packed movie collection! 
                                    From high-octane car chases to heart-stopping stunts, immerse yourself in a world of
                                     excitement and adventure. Get ready for non-stop action that will keep you on the edge of your seat
                                </p>
                            <% } %>
                                                           
                        </div>


                        <div class="section-1">

                            <div class="section-1-card">
                                <div class="header">
                                    <a href="/detail/1">
                                        <img src="image/cool-hand-luke.jpeg" alt="movie" class="movie-img">
                                    </a>

                                </div>
                                <div class="body">
                                    <p class="font-sm text-capitalize">Movie title</p>
                                    <p class="font-sm font-lighter">Oct 11 2023</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">7.6</span>
                                </div>

                            </div>

                            <div class="section-1-card">
                                <div class="header">
                                    <img src="image/electra.jpeg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>


                            <div class="section-1-card">
                                <div class="header">
                                    <img src="image/brazil.jpeg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                            <div class="section-1-card">
                                <div class="header">
                                    <a href="/detail/1">
                                        <img src="image/theFlash.jpeg" alt="movie" class="movie-img">
                                    </a>

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                            <div class="section-1-card">
                                <div class="header">
                                    <a href="/detail/2">
                                        <img src="image/batman-latest.jpeg" alt="movie" class="movie-img">
                                    </a>

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">9</span>
                                </div>
                            </div>

                            <div class="section-1-card">
                                <div class="header">
                                    <a href="/detail/3">
                                        <img src="image/batman.jpeg" alt="movie" class="movie-img">
                                    </a>

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                            <div class="section-1-card">
                                <div class="header">
                                    <a href="/detail/4">
                                        <img src="image/black-widow.jpeg" alt="movie" class="movie-img">
                                    </a>

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">8.9</span>
                                </div>
                            </div>

                            <div class="section-1-card">
                                <div class="header">
                                    <a href="/detail/5">
                                        <img src="image/spiderman2.jpeg" alt="movie" class="movie-img">
                                    </a>

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">7.9</span>
                                </div>
                            </div>

                            <div class="section-1-card">
                                <div class="header">
                                    <img src="image/harry-potter-backy.jpg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">8.9</span>
                                </div>
                            </div>
                        </div>
                        <!-- End of section one -->


                        <div class="joke-of-day">
                            <img src="image/Navy Minimalist Movie Night Instagram Post.png" alt="movie image"
                                class="joke-image">
                        </div>


                        <!-- Section 2 that will be dynamically updated -->
                        <div class="box">

                            <% let foundSectionTwo = false; %>
                            <% sectionArray.forEach((section) => { %>
                                <% if ("sectiontwo" in section) { %>
                                    <% foundSectionTwo = true; %>
                                    <h1 class="left padding-top-lg">
                                        <%= section.sectiontwo[0].title %>
                                    </h1>
                                    <p class="left section-movie-description">
                                        <%= section.sectiontwo[0].description %>
                                    </p>
                                <% } %>
                            <% }) %>
                            
                            <% if (!foundSectionTwo) { %>
                                <h1 class="left padding-top-md">Blockbusters</h1>
                                <p class="left section-movie-description">
                                    Dive into our blockbuster movie lineup and experience the epitome of cinematic excellence. 
                                    From gripping storytelling to breathtaking visuals, get ready for an unforgettable journey 
                                    into the world of blockbuster entertainment. Prepare to be dazzled and captivated by the
                                     biggest hits in film history!?
                                </p>
                            <% } %>
                                           

                        </div>

                        <div class="section-2">

                            <div class="section-2-card">
                                <div class="header">
                                    <img src="image/la-femme-nikita.jpeg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">8</span>
                                </div>
                            </div>

                            <div class="section-2-card">
                                <div class="header">
                                    <img src="image/terminator.jpeg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                            <div class="section-2-card">
                                <div class="header">
                                    <img src="image/terminator2.jpg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                            <div class="section-2-card">
                                <div class="header">
                                    <img src="image/stranger-things.jpg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                            <div class="section-2-card">
                                <div class="header">
                                    <img src="image/no-way-back.jpeg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                            <div class="section-2-card">
                                <div class="header">
                                    <img src="image/supergirl.jpeg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                            <div class="section-2-card">
                                <div class="header">
                                    <img src="image/spiderman.jpg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                        </div>

                        <!-- End of section 2 -->

                       

                        <!-- Section three that will be dynamically updated -->
                        <div class="box">
                            <% let foundSectionThree = false; %>
                            <% sectionArray.forEach((section) => { %>
                                <% if ("sectionthree" in section) { %>
                                    <% foundSectionThree = true; %>
                                    <h1 class="left padding-top-lg">
                                        <%= section.sectionthree[0].title %>
                                    </h1>
                                    <p class="left section-movie-description">
                                        <%= section.sectionthree[0].description %>
                                    </p>
                                <% } %>
                            <% }) %>
                            
                            <% if (!foundSectionThree) { %>
                                <h1 class="left padding-top-md">Action adventure</h1>
                                <p class="left section-movie-description">
                                    Embark on an epic journey filled with excitement and danger with our action-adventure movie collection.
                                     Join fearless heroes as they brave perilous challenges, face formidable foes, 
                                     and unravel mysteries in exotic locales. Get ready for pulse-pounding thrills and unforgettable escapades
                                      that will leave you on the edge of your seat!
                                </p>
                            <% } %>
                                           

                        </div>

                        <div class="section-3 padding-bottom-lg">

                            <div class="section-3-card">
                                <div class="header">
                                    <img src="image/x-men.jpg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                            <div class="section-3-card">
                                <div class="header">
                                    <img src="image/x-men2.jpg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>
                            <div class="section-3-card">
                                <div class="header">
                                    <img src="image/x-men3.jpg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                            <div class="section-3-card">
                                <div class="header">
                                    <img src="image/iron-man2.jpg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                            <div class="section-3-card">
                                <div class="header">
                                    <img src="image/iron-man3.jpg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                            <div class="section-3-card">
                                <div class="header">
                                    <img src="image/batman3.jpeg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                            <div class="section-3-card">
                                <div class="header">
                                    <img src="image/indiana-jones.jpg" alt="movie" class="movie-img">

                                </div>
                                <div class="body">
                                    <p class="font-sm">Movie title</p>
                                    <p class="">Release year</p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">10</span>
                                </div>
                            </div>

                          
                        </div>

                        <!-- End of section three -->

                    </div>
                    <!-- End of section 4 -->

                    </div>


                </section>
            </main>



            <!-- The footer starts here -->
            <%- include('./partials/footer/footer.ejs') %>

    </body>

    </html>