<%- include('../partials/header/header.ejs', {title: "Movie page" }) %>

<body>

    <%- include('../partials/header/nav.ejs') %>

      <!-- The main section starts here -->
      <main>

        <section id="movie-content">

            <div class="container blur-border">


                <h1 class="padding-bottom-sm padding-top-sm center">Movies</h1>
                

                <div class="info center">
                    <% if (!movies) { %> 
                        No Movies found
                    <% } else {%>
                      <p class="movie-subtitle">Dive into a world of cinematic wonder with our diverse movie selection.
                         From gripping dramas to side-splitting comedies, embark on an unforgettable
                          journey through the magic of film. Whether you're in the mood for romance,
                           suspense, or laughter, we've got the perfect movie for every occasion.
                            Get ready to be entertained
                        </p>
                        <% } %>
                </div>
              
               

                <div class="movies padding-top-lg">

                    <% if (movies) { %>
                        <% movies.results.forEach(function(movie) { %>
                            <div class="movie-card poppins-thin">
                                <div class="header">
                                    <% if (movie.poster_path) { %>
                                        <a href="/detail/<%= movie.id %>/<%= category %>"><img src="<%= url + movie.poster_path %>" alt="movie" class="movie-img">
                                        </a>
                                        <% } else { %>
                                            <img src="image/no-image.jpg" alt="movie" class="movie-img">
                                            <% } %>

                                </div>
                                <div class="body">
                                    <p class="font-sm anton-regular">
                                        <%= movie.title %>
                                    </p>
                                    <p class="">
                                        <%= movie.release_date %>
                                    </p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">
                                        <%=movie.vote_average %>
                                    </span>
                                </div>
                            </div>
                            <% }); %>
                                <% } %>


                </div>
            </div>
        </section>


    </main>
    <!-- The mains end here -->

    <%- include('../partials/footer/footer.ejs') %>

</body>
</html>