<%- include('../partials/header/header.ejs', {title: "Movie page" }) %>

<body>

    <%- include('../partials/header/nav.ejs') %>

      <!-- The main section starts here -->
      <main>

        <section id="movie-content">

            <div class="container blur-border">

               <%- include('../partials/forms/search-form.ejs') %>

                <h1 class="padding-bottom-sm padding-top-sm center">Movies</h1>

                <% if (searchQuery) {%> 
                    <p class="center text-capitalize">Search term: <%= searchQuery %>
                    <p class="center">Page <%= movies.page %> out of <%= movies.total_pages %></p>
                    <p class="center">Total Results : <%= movies.total_results %></p>
                <% } else { %>
                    <p class="center">No results found by that query</p>
                <%} %>
                
                </p>

                <div class="movies padding-top-lg">

                    <% if (movies && movies.results && movies.results.length > 0) { %>
                        <% movies.results.forEach(function(movie) { %>
                            <div class="movie-card poppins-thin">
                                <div class="header">
                                    <% if (movie.poster_path) { %>
                                        <a href="/detail/<%= movie.id %>/<%= category %>/<%= searchQuery %>"><img src="<%= url + movie.poster_path %>" alt="movie" class="movie-img">
                                        </a>
                                        <% } else { %>
                                            <img src="image/no-image.jpg" alt="movie" class="movie-img">
                                            <% } %>

                                </div>
                                <div class="body">
                                    <p class="font-sm anton-regular">
                                        <%= movie.title %>
                                    </p>
                                    <p class="">
                                        <%= movie.release_date %>
                                    </p>
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">
                                        <%=movie.vote_average %>
                                    </span>
                                </div>
                            </div>
                            <% }); %>
                                <% } %>
                                   


                </div>
            </div>
        </section>


    </main>
    <!-- The mains end here -->
    <%- include('../partials/header/banner.ejs') %>
    <%- include('../partials/footer/footer.ejs') %>

</body>
</html>