<%- include('../partials/header/header.ejs', {title: "Movie page" }) %>

<body>

    <%- include('../partials/header/nav.ejs') %>

      <!-- The main section starts here -->
      <main>

        <section id="movie-content">

            <div class="container blur-border">

             
                <h1 class="padding-bottom-sm padding-top-sm center">TV shows</h1>

                <% if (!tvShows) {%> 
                    <p class="center">No TV shows to display at the moment</p>
                <% } else { %>
                    <p class="movie-subtitle">
                        Dive into the world of TV shows with our captivating selection of action-packed series.
                     From gripping dramas to thrilling adventures, immerse yourself in a whirlwind of suspense,
                      intrigue, and adrenaline-fueled excitement. Get ready to binge-watch your favorite shows
                       and embark on unforgettable journeys with our collection of must-see TV entertainment
                    </p>
                    <% } %>
                
               

                <div class="movies padding-top-lg">

                    <% if (tvShows) { %>
                        <% tvShows.results.forEach(function(tvShow) { %>
                            <div class="movie-card poppins-thin">
                                <div class="header">
                                    <% if (tvShow.poster_path) { %>
                                        <a href="/detail/<%= tvShow.id %>/<%= category %>"><img src="<%= url + tvShow.poster_path %>" alt="<%= tvShow.title %>" class="movie-img">
                                        </a>
                                        <% } else { %>
                                            <img src="image/no-image.jpg" alt="movie" class="movie-img">
                                            <% } %>

                                </div>
                                <div class="body">
                                    <p class="font-sm anton-regular">
                                        <%= tvShow.name %>
                                    </p>
                                    <p class="date-release">
                                        <%= tvShow.first_air_date %>
                                    </p>
                                    
                                </div>
                                <div class="vote-average center">
                                    <span class="voting">
                    
                                        <%=tvShow.vote_average %>
                                    </span>
                                </div>
                            </div>
                            <% }); %>
                                <% } %>


                </div>
            </div>
        </section>


    </main>
    <!-- The mains end here -->
    <%- include('../partials/header/banner.ejs') %>
    <%- include('../partials/footer/footer.ejs') %>

</body>
</html>